.progress {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border-top: solid 10px;
    border-image: repeating-linear-gradient( -75deg, yellow, yellow 10px, black 10px, black 20px) 20;
}
.a{
    border-top: solid 10px;
    border-image: repeating-linear-gradient( -75deg, yellow, yellow 10px, black 10px, black 20px) 20;
}

